body {
  background-color: grey;
}

button {
  background-color: grey;
  font-family: Courier;
  color: white;
  font-size: 20px;
}

p {
  background-color: grey;
  font-family: Courier;
  text-align: center;
}

h2 {
  background-color: grey;
  font-family: Courier;
  text-align: center;
}