body {
    text-align: center;
    background: rgb(0, 127, 0);
}

h1, h2, p {
    color: rgb(240, 155, 78);
}

.button {
    padding: 12px 28px;
    border-radius: 12px;
    background-color: rgb(0, 130, 0);
    color:rgb(240, 155, 78);
}